<!doctype html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Axoma">
    <meta name="keywords" content="Axoma">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Amerta Free Wifi</title>
    <link rel="icon" type="image/svg+xml" href="/static/img/logoamerta.svg">
    <link href="static\plugin\bootstrap\css\bootstrap.min.css" rel="stylesheet">
    <link href="static\plugin\font-awesome\css\fontawesome-all.min.css" rel="stylesheet">
    <link href="static\plugin\et-line\style.css" rel="stylesheet">
    <link href="static\plugin\themify-icons\themify-icons.css" rel="stylesheet">
    <link href="static\plugin\owl-carousel\css\owl.carousel.min.css" rel="stylesheet">
    <link href="static\plugin\magnific\magnific-popup.css" rel="stylesheet">
    <link href="static\css\style.css" rel="stylesheet">
    <link href="static\css\color\default.css" rel="stylesheet" id="color_theme">
  </head>

  <body data-spy="scroll" data-target="#navbar" data-offset="98">
    $(if chap-id)
    <form name="sendin" action="$(link-login-only)" method="post">
      <input type="hidden" name="username" />
      <input type="hidden" name="password" />
      <input type="hidden" name="dst" value="$(link-orig)" />
      <input type="hidden" name="popup" value="true" />
    </form>
    <script type="text/javascript" src="/md5.js"></script>
    <script type="text/javascript">
    <!--
        function doLogin() {
      document.sendin.username.value = document.login.username.value;
      document.sendin.password.value = hexMD5('$(chap-id)' + document.login.password.value + '$(chap-challenge)');
      document.sendin.submit();
      return false;
        }
    //-->
    </script>
    $(endif)


    <div id="loading">
      <div class="load-circle"><span class="one"></span></div>
    </div>
    <header>
      <nav class="navbar header-nav navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img class="light-logo" src="static\img\logoamerta.svg" title="" alt="">
            <img class="dark-logo" src="static\img\logoamerta.svg" title="" alt="">
            <p style="font-size: 20px;" class="dark-color font-alt">PT. AMERTA ASA MEDIA</p>
          </a>

        </div>
      </nav> 
    </header>
    <main>

      <section id="price" class="section shapes-section gray-bg ">
        <div class="container">
            <div class="row m-45px-b sm-m-25px-b">
                <div class="col-lg-5 col-md-10">
                  <div class="section-title-01">
                    <br>
              <div class="col-md-100 text-center">
                <div class="price-table-01">
                  <div class="price-header">
                    <h4 class="price-title font-alt dark-color">UNTUK MENIKMATI LAYANAN WIFI GRATIS SILAKAN SCROLL DAN LOGIN DIBAWAH</h4>
                  </div>
                </div>
              </div>
                    
                  </div>
                  <br><br>
                  <h2 class="dark-color font-alt text-center">Daftar Paket</h2>
                </div>
              </div>
              <div class="row">

              <div class="col-md-6 col-lg-4 m-15px-tb">
                <div class="price-table-01 theme-bg active">
                  <div class="price-header">
                    <div class="price-value white-color"><span>Rp</span>133.000<span class="mo">/Bulan</span></div>
                  </div>
                  <div class="price-body">
                    <ul class="white-color-light">
                      <li><h3>15 Mbps</h3></li>
                      <li>Unlimited Kuota</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a href="#kontakkami" class="btn btn-t-white" rel="noopener noreferrer">Kontak Kami</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4 m-15px-tb">
                <div class="price-table-01 theme-bg active">
                  <div class="price-header">
                    <div class="price-value white-color"><span>Rp</span>166.500<span class="mo">/Bulan</span></div>
                  </div>
                  <div class="price-body">
                    <ul class="white-color-light">
                      <li><h3>30 Mbps</h3></li>
                      <li>Unlimited Kuota</li>
                      <li><h3>BEST SELLER</h3></li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a href="#kontakkami" class="btn btn-t-white" rel="noopener noreferrer">Kontak Kami</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4 m-15px-tb">
                <div class="price-table-01 theme-bg active">
                  <div class="price-header">
                    <div class="price-value white-color"><span>Rp</span>277.500<span class="mo">/Bulan</span></div>
                  </div>
                  <div class="price-body">
                    <ul class="white-color-light">
                      <li><h3>50 Mbps</h3></li>
                      <li>Unlimited Kuota</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a href="#kontakkami" class="btn btn-t-white" rel="noopener noreferrer">Kontak Kami</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4 m-15px-tb">
                <div class="price-table-01 theme-bg active">
                  <div class="price-header">
                    <div class="price-value white-color"><span>Rp</span>333.000<span class="mo">/Bulan</span></div>
                  </div>
                  <div class="price-body">
                    <ul class="white-color-light">
                      <li><h3>100 Mbps</h3></li>
                      <li>Unlimited Kuota</li>
                    </ul>
                  </div>
                  <div class="price-footer">
                    <a href="#kontakkami" class="btn btn-t-white" rel="noopener noreferrer">Kontak Kami</a>
                  </div>
                </div>
              </div>

          </div>

          

        </div> 
        <div class="shapes-box">
          <span data-parallax='{"x": 150, "y": -20, "rotateZ":500}'>
              <img src="static\img\fl-shape-1.png" title="" alt="">
          </span>
          <span data-parallax='{"x": 250, "y": 150, "rotateZ":500}'>
              <img src="static\img\fl-shape-2.png" title="" alt="">
          </span>
          <span data-parallax='{"x": -180, "y": 80, "rotateY":2000}'>
              <img src="static\img\fl-shape-3.png" title="" alt="">
          </span>
          <span data-parallax='{"x": -20, "y": 180}'>
              <img src="static\img\fl-shape-4.png" title="" alt="">
          </span>
          <span data-parallax='{"x": 300, "y": 70}'>
              <img src="static\img\fl-shape-5.png" title="" alt="">
          </span>
          <span data-parallax='{"x": 250, "y": 180, "rotateZ":1500}'>
              <img src="static\img\fl-shape-6.png" title="" alt="">
          </span>
          <span data-parallax='{"x": 180, "y": 10, "rotateZ":2000}'>
              <img src="static\img\fl-shape-7.png" title="" alt="">
          </span>
          <span data-parallax='{"x": 60, "y": -100}'>
              <img src="static\img\fl-shape-9.png" title="" alt="">
          </span>
          <span data-parallax='{"x": -30, "y": 150, "rotateZ":1500}'>
              <img src="static\img\fl-shape-10.png" title="" alt="">
          </span>
      </div>
      </section>

      <section id="home" class="home-banner-03 theme-bg bg-effect-box">
        <div class="bg-effect bg-cover" style="background-image: url(static/img/banner-effect-6.svg);"></div>
        <div id="particles_effect" class="particles-effect"></div>
        <div class="container">
          <div class="row align-items-center justify-content-center p-100px-tb sm-p-60px-b">
            <div class="col-lg-5 md-p-30px-tb">
              <h5 class="white-color">PT AMERTA ASA MEDIA</h5>
              <h1 class="font-alt white-color">Login Free Wifi</h1>
              
              <div class="subscribe-block">
                  <div class="card-block py-lg px-md">
                    <form id="loginForm" class="md-form form-light" role="form" action="$(link-login-only)" method="post">
                        <input type="hidden" name="dst" value="$(link-orig)"/>
                        <input type="hidden" name="popup" value="true"/>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="md-form-line-wrap">
                              <input id="inputUser" type="hidden" name="username" placeholder="Username" class="form-control" value="FreeWiFi_AMERTA">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="inputPassword" class="form-label">Password</label>
                            <div class="md-form-line-wrap">
                              <input id="inputPassword" type="password" name="password" placeholder="Password" class="form-control" required>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            $(if error)
                              <p><font style="color: #ffffffe8">Maaf Password Yang Anda Masukkan Salah</font></p>
                            $(endif)
                          </div>
                        </div></br>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-block btn-light"><span class="btn-elem-wrap"><span class="text" style="color: darkblue">LOGIN</span></span></button>
                        </div>
                      </div>
                    </form>
                  </div>
                
              </div>
            </div> 
            <div class="col-lg-7 text-center p-50px-l">
              <img src="static\img\home-banner-7.svg" title="" alt="">
            </div>
          </div> 
        </div>
      </section>






      <section id="contact" class="section">
        <div class="container">
          <div class="row m-45px-b sm-m-25px-b">
            <div class="col-lg-5 col-md-10">
             
            </div>
          </div>
          
<div class="section-title-01">
                <h2 class="dark-color font-alt">Kontak</h2>
              </div>
          <div class="row justify-content-center">
            <div class="col-lg-8 md-m-10px-b">

            </div> 
            <div class="col-lg-4">
              <div class="contact-info">
                  <i class="theme-color ti-location-pin"></i>
                  <h6 class="dark-color font-alt"> Alamat</h6>
                  <p>Perum. Griya Jambean Asri, Jl. Diponegoro No. 123, RT.02 RW.04, Dusun Ngerombeh, Desa Jambean, Kecamatan Kras, Kabupaten Kediri</p>
              </div>
              
              <div class="contact-info" id="kontakkami">
              
                <i class="theme-color ti-mobile"></i>
                <h6 class="dark-color font-alt">Customer Service</h6>
                <p>+62 811-3500-836</p>
              
</div>
            </div>
          </div>

          
        </div> 
      </section>

    </main>
    <footer class="footer footer-dark">
      <div class="footer-copy">
        <div class="row">
          <div class="col-12">
            <p>All © PT AMERTA ASA MEDIA - All Rights Reserved.</p>
          </div>
        </div> 
      </div>
    </footer>
    
    <script src="static\js\jquery-3.2.1.min.js"></script>
    <script src="static\js\jquery-migrate-3.0.0.min.js"></script>
    <script src="static\plugin\appear\jquery.appear.js"></script>
    <script src="static\plugin\bootstrap\js\popper.min.js"></script>
    <script src="static\plugin\bootstrap\js\bootstrap.js"></script>
    <script src="static\plugin\particles\particles.min.js"></script>
    <script src="static\plugin\particles\particles-app.js"></script>
    <script src="static\js\jquery.parallax-scroll.js"></script>
    <script src="static\js\custom.js"></script>

    $(if chap-id)
    <script type="text/javascript" src="md5.js"></script>
    <script type="text/javascript">
        $('#loginForm').submit(function () {
            var password = $('#inputPassword');
            password.val(hexMD5('$(chap-id)' + password.val() + '$(chap-challenge)'));
        });
    </script>
    $(endif)
    <script>
      $("#menu-toggle").click(function (e) {
          e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });
    </script>
    <script type="text/javascript">
    <!--
      document.login.username.focus();
    //-->
    </script>

  <script>
    window.addEventListener('load', function () {
      const section = document.getElementById('price');
      if (section) {
        section.focus(); // Fokus keyboard
        section.scrollIntoView({ behavior: 'smooth' }); // Scroll ke section (opsional)
        const yOffset = -100;
        const y = section.getBoundingClientRect().top + window.pageYOffset + yOffset;
    window.scrollTo({ top: y, behavior: 'smooth' });
      }
    });
  </script>
  </body>
</html>